.container-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 60px;
  height: 60px;
  background-color: red;
  color:blueviolet;
  font-size: 50px;
  font-weight: 100px;
  display: flex;
  justify-content:flex-end;
  align-items: center; 
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: yellow;

}

.letraBox {
  color: rgb(0, 68, 255);
}

.imageclass{
  
}